[%if [@user:group_id@] == 1%]
[%thumb_list type:'products' filter_category:'[@CONFIG:UpsellKit@]' template:'kit_sell' limit:'[@config:upsell_limit@]'%]
	[%param *header%]
	<hr />
	<h3>Add a starter kit</h3>
	<br />
	<div class="row custom-cross-panel">
	[%/param%][%param footer%]
	</div>
	[%/param%]
[%/thumb_list%]
[%if [@misc15@] ne 'false' %]
[%thumb_list type:'products' filter_category:'[@CONFIG:UpsellGrinder@]' template:'package_sell' limit:'20'%]
	[%param header%]
	<hr />
	<h3>Package with a grinder</h3>
	<br />
	<div class="row custom-cross-panel">
	[%/param%]
	[%param footer%]
	</div>
	[%/param%]
[%/thumb_list%]
[%/if%]
[%/if%]
